/*
 * Anymatefy CSS sample demo
 * Description: This is a demo to check AnimatefyJS, a CSS/JS plugin that makes easy get beautiful animations for your website
 * Version: 0.1
 * Author: Bruno Lorente Cantarero
 * Author URI: http://brunolorente.com
 */

* {
    color: #333;
    font-family: 'helvetica', 'arial', 'sans-serif';
}

.container {
    max-width: 1120px;
    margin: 150px auto;
}
    code {
        background-color: #eee;
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;
    }

    .box {
        max-width: 200px;
        background-color: dodgerblue;
        padding: 100px;
        border-radius: 5px;
        color: #ffffff;
    }